- const lang = "ru";
- const title = "Clever Baby - Учебный центр";
- const description = "Страница учебного центра Clever Baby";
- const socialMedia = [{href: "https://www.facebook.com/", label: "Facebook"}, {href: "https://vk.com/", label: "VKontakte"}, {href: "https://www.instagram.com", label: "Instagram"}];
- const teachers = [{name: "Kate Smith", url: "http://dummyimage.com/198x220", country: "США"}, {name: "Samuel King", url: "http://dummyimage.com/198x220", country: "США"}, {name: "Nikole Young", url: "http://dummyimage.com/198x220", country: "Канада"}, {name: "Karoline Bush", url: "http://dummyimage.com/198x220", country: "Канада"}];
