doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Clever Baby - Учебный центр
  meta(name='Description' content='Страница учебного центра Clever Baby')
body
  header.header
  main
  footer.footer
