.social-media__list {
  list-style: none;
}

.social-media__link {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0 2px 10px rgba(165, 168, 176, 0.1);
}
