block config
  include ./config.pug

include ../mixins/_teacher.pug
include ../mixins/_social-media-item.pug

doctype html
html.page(lang=lang)
  head
    block metatags
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      meta(name="Description" content=description)
    title #{title}
    block links
      link(rel="preload" href=basicFont as="font")
      link(rel="stylesheet" href="css/style.min.css")

  body.page__body

    include ../includes/_header.pug

    main
      block content

    include ../includes/_footer.pug

    block scripts
