// colors

$basic-text-color: #122659;
$secondary-text-color: #677085;
$basic-bg-color: #fefcfa;
$secondary-bg-color: #f7fafc;
$accent-color: #ffd787;
$additional-cyan-color: #8dd9e5;
$additional-pink-color: #feb9cc;

// fonts

$basic-font: "Montserrat", "Helvetica", sans-serif;
$additional-font: "Rubik", "Helvetica", sans-serif;
